<%- include ("partials/header") %>

<main class="form-signin w-100 d-flex justify-content-center" id="adminForm">
  <form action="/submit" method="POST">
    <img class="mb-4" src="https://blog-server-1-assets.s3.us-east-1.amazonaws.com/public/images/logo.png" alt="" width="72" height="57" />
    <h1 class="h3 mb-3 fw-normal">Confirm as admin</h1>

    <div class="row pb-1">
      <div class="col-xl-8 col-md-12 alter-p">
        <div class="form-floating">
          <input
            type="text"
            class="form-control w-100"
            id="floatingInput"
            name="username"
            placeholder="Enter Username"
            autocomplete="on"
            required
          />
          <label for="floatingInput">Username</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-8 col-md-12 alter-p">
        <div class="form-floating">
          <input
            type="password"
            class="form-control"
            id="floatingPassword"
            name="password"
            placeholder="Password"
            required
          />
          <label for="floatingPassword">Password</label>
        </div>
      </div>
    </div>
    
    <div class="row mt-3">
      <div class="col-xl-8 col-md-12 alter-p">
        <% if (error) { %>
          <div class="alert alert-danger text-center" role="alert">
            Invalid username or password.
          </div>
        <% } %>
      </div>
    </div>
    <button class="btn btn-success py-2 px-3" type="submit">Sign in</button>
    <p class="mt-3">Not a user? <a href="/signup">Register here</a></p>
  </form>
</main>

<%- include ("partials/mini-footer") %>