<%- include ("partials/header") %>
<%- include ("partials/navbar") %>

<div class="d-flex w-100 vh-100 text-bg-dark position-relative shadow">
    <div class="cover-container position-absolute top-0 left-0 start-0 w-100 h-100 mb-5" style="background-image: url('/images/cover-image.jpg'); background-size: cover; background-position: center;">
      <header class="mb-auto text-center d-flex flex-column align-items-center">
      </header>
    
      <div class="px-3 mt-5 pt-5 mb-5 text-center text-dark"><p class="lead fs-1">Travel the World, smarter, cheaper and longer!</p>
        <p class="fs-5 text-dark">Know the secrets to travel planning. <button type="button" class="btn btn-success rounded-pill ml-2">Get Started</button></p>
    </div>
    </div>
    </div>

    <div class="container-fluid text-center mt-3">
        <p class="mt-5 pt-5 mb-3 pb-3 border-bottom fst-italic fs-1">
            Who am I?
        </p>
    
        <div class="row">
            <div class="col-md-12 col-xl-6 border-right p-4 mb-3">
        <div class="mb-4 d-flex justify-content-center" style="height: 200px; width: 100%;">
            <img src="/images/The Nomad.jpg" alt="The Nomad" class="border border-secondary border-2 rounded" style="height: 100%;">
        </div>
        <p class="mb-3 fs-3">
            Hi, I'm John Doe! Your friendly-neighborhood traveller a.k.a. The Nomad.
        </p>
        <p class="text-center fs-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur nam aut, corrupti amet dignissimos, laboriosam, placeat non debitis unde dolorem iusto id.</p>
    </div>
        <div class="col-md-12 col-xl-6">
            <p class="lead fs-2 mb-5 p-3 fw-semibold">
                Most Popular Blogs
            </p>
            <p class="lead fs-5">
                <ul class="list-unstyled">
                    <li class="mb-1"><a href="">How to Save for a Trip</a></li>
                    <li class="mb-1"><a href="">7 Steps for Planning Your Trip</a></li>
                    <li class="mb-1"><a href="">Get the Right Gear</a></li>
                    <li class="mb-1"><a href="">How to Buy Travel Insurance</a></li>
                    <li class="mb-2"><a href="">10 Travel Scams to Avoid</a></li>
                </ul>
            </p>
            <p class="lead fs-3 pt-2 fw-medium">As featured on</p>
            <div class="row mt-4" id="featured">
                <div class="col-md-6 col-xl-3"><img src="/images/Featured/BBC-Logo.jpg" alt="BBC" class="rounded"></div>
                <div class="col-md-6 col-xl-3"><img src="/images/Featured/Lonely-Planet-logo.jpg" alt="lonely planet" class="rounded"></div>
                <div class="col-md-6 col-xl-3"><img src="/images/Featured/National-Geographic-logo.webp" alt="Nat geo" class="rounded"></div>
                <div class="col-md-6 col-xl-3"><img src="/images/Featured/the-guardian-logo.jpg" alt="the guardian" class="rounded"></div>
            </div>
            </div>
        </div>
    </div>    

    </div>
    </div>
  </div>
<%-include ("partials/footer") %>