<%- include ("partials/header") %>
<%- include ("partials/navbar") %>

<div class="d-flex w-100 vh-100 text-bg-dark position-relative shadow">
    <div class="cover-container position-absolute top-0 left-0 start-0 w-100 h-100 mb-5" style="background-image: url('/images/cover-image.jpg'); background-size: cover; background-position: center;">
      <header class="mb-auto text-center d-flex flex-column align-items-center">
      </header>
    
      <div class="px-3 mt-5 pt-5 mb-5 text-center text-dark"><p class="lead fs-1">Travel the World, smarter, cheaper and longer!</p>
        <p class="fs-5 text-dark">Know the secrets to travel planning. <button type="button" class="btn btn-success rounded-pill ml-2">Get Started</button></p>
    </div>
    </div>
    </div>
    
    <%- include ("about") %>

    </div>
    </div>
  </div>
<%-include ("partials/footer") %>