*{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-track{
    border: solid #343a40 5px;
    background-color: #157347;
}

::-webkit-scrollbar-thumb{
    border: solid #343a40 5px;
    background-color: #dee2e6;
    border-radius: 10px;
}

.font-brush{
    font-family: 'Comforter Brush', serif;
    font-weight: 200;
}

.border-right{
    border-right: 0.05rem solid gray;
    opacity: 60;
    height: 100%;
}

a{
    text-decoration: none;
}

#featured div img{
    height: 80px;
    width: 130px;
    margin-bottom: 2rem;
}

.card{

    &:hover{
        transition-duration: 1000ms;
        transition-property: all;
        transform:translateX(-5px) translateY(-5px);
    }
}

.card-container {
    position: relative;
}

.remove-btn {
    position: relative;
    z-index: 10; 
}

.br-0{
    border-radius: 0%;
}

#adminForm{
    padding: 5rem;
    height: 85vh;
}

.alter-w-50{
    width: 50%;
}

.alter-w-25{
    width: 25%;
}

.border-whit{
    border-color: #dee2e6;
}

.bg-whit{
    background-color: #dee2e6;
}

@media screen and (max-width: 991px) {
    .alter-w-50{
        width: 100%;
    }

    .alter-p{
        padding-bottom: 1.25rem;
    }

    .alter-w-25{
        width: 100%;
    }
}

#Places-to-visit-grid{
    display: none;
}

@media screen and (max-width: 771px) {
    #Places-to-visit{
        display: none;
    }

    #Places-to-visit-grid{
        display: block;
    }
}

.place-card{
    height: 270px;

    &:hover{
        transform:translateX(-0px) translateY(-0px);
        .card-img-overlay{
            transform: scale(1.05);
            transition-duration: 1000ms;
            transition-property: all;
        }
    }
}